@import-normalize;
@import "flashcard.css";
@import "flashcard-list";

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: #fcedda;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
}
