.card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.227);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y))
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.37);
}

.flip {
  --rotate-y: 180deg;
}

.card .front {
  font-size: 1.5rem;
  left: 0;
}

.card .front,
.card .back {
  padding: 2rem;
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  font-size: 1.7rem;
}

.flashcard-options:first-child {
  margin-top: 1.5rem;
}

.flashcard-option {
  margin-top: 0.2rem;
  color: #555;
  font-size: 1.4rem;
}
