.footer {
  width: 100vw;
  background-color: #e2513be5;
  color: white;
  height: 3.2rem;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  bottom: 0;
}

.github__logo {
  height: 2rem;
  position: relative;
  bottom: -17%;
  left: 0.6%;
}

.github__logo:hover {
  cursor: pointer;
}
