.footer {
  width: 100vw;
  background-color: #e2513bec;
  color: white;
  height: 3.2rem;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  bottom: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.github__logo {
  height: 2rem;
  position: relative;
  bottom: -17%;
  left: 0.6%;
}

.github__logo:hover {
  cursor: pointer;
}
